.square{
  width: 50px;
  height: 50px;
  border: 2px solid black;
}

.board{
  width: max-content;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,1fr);
  padding: 24px;
}

.gamecontainer{
  display: flex;
  justify-content: center;
}

.turn{
  display: flex;
  justify-content: center;
}

form.over{
  display: none;
}

.square[display = 'sea']{
  background-color: blue;
}

.square[display = 'miss']{
  background-color: yellow;
}

.square[display = 'hit']{
  background-color: red;
}

.square[display = 'ship']{
  background-color: green;
}